<h1>Find out Aboot us, eh?</h1>
<p>This app allows you to book a rental or buy a bike directly from our app for pick up at any given time! As you might have noticed, we are just a couple of good Canadian kids making their life in Germany a little more entertaining through a little biking across Europe. Much easier than biking across Canada!</p>
